@{
    ViewData["Title"] = "Home";
}

@section custom_js_css {
    <link href="/CSS/BannerStyle.css" rel="stylesheet" type="text/css">
    <script src="/js/BannerScript.js"></script>
}

<div id="slider">
    <img src="Images/Banner/1.jpg" id="image" />
    <div class="slider_intro">
        <p class="slider_intro_text">
            Welcome to the NPS Campgrounds reservation service. Although we have had to undergo new sanitization protocol,
            there may be no better place to socially distance than in some of our great parks.
        </p>
    </div>
    <div class="left_hold">
        <img onClick="rotateOnce(-1)" class="left" src="Images/Banner/LeftArrow.png" />
    </div>
    <div class="right_hold">
        <img onClick="rotateOnce(1)" class="right" src="Images/Banner/RightArrow.png" />
    </div>
    <div class="slider_description">
        <p class="slider_title" id="park_name">Everglades National Park</p>
        <p class="slider_title" id="img_descr">Entrace Sign for the Everglades National Park</p>
    </div>
</div>


